.card-image {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 1rem;
  }
  
  .card-container {
    max-width: 300px;
  }

  /* styles/CarouselStyles.css */
.carousel-container {
    position: relative;
  }
  
  .carousel-slide {
    position: relative;
  }
  
  .carousel-text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    z-index: 10;
  }
  